/* 
Hex Codes: 
Pale Pink: #d4afb9 
Pastel Light Purple: #d1cfe2 
Pastel Darker Purple: #9cadce 
Pastel Moss Green: #7ec4cf 
Pastel Dark Blue: #52b2cf 
*/

.App {
  text-align: center;
  margin: 2em;
}

.app-title {
  color: #d4afb9 ;
  font-size: 5vw;
  text-align: left;
}
